.all_content{
    margin: auto;
}
.logo {
    margin-top: 50px;
    margin-left: 99px;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
}
.logo1 {
    display: inline;
    font-size: 80px;
    color: #000000;
    font-family: "Myriad Pro";
    text-align: center;
}
.logo2 {
    display: inline;
    font-size: 80px;
    color: deepskyblue;
    font-family: "Myriad Pro";
    text-align: center;
}
.menu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0px; /*убираем верхнее и нижнее поле, равное 1em*/
    margin-left: 85px /*убираем левый отступ, равный 40px*/
}

.menu li{
    float: left;
    padding: 35px;
    line-height: 0px;
    font-size: 24px;
    color: #ffffff;
    font-family: "Myriad Pro";

}
.menu {
    width: 1170px;
    height: 70px;
    background-color: #35444f;
    margin-left: 97px;
}
.menu li:hover{
    background-color: #222f3a;
}
.menu2{
    width: 344px;
    height: 399px;
    margin-top: 51px;
    margin-left: 60px;
}
.menu2 ul{
    list-style: none;
}
.menu2 .li1{
    border-top: 2px black solid;
}
.menu2 .li2{
    border-bottom: 2px black solid;
}
.menu2 li{
    font-size: 27px;
    line-height: 80px;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color: #495863;
    font-family: "Myriad Pro";
    padding-left: 70px;
}
.menu2 li:hover{
    background-color: #dbdbdb;
}
.menu2 li a:hover{
    margin-left: 10px;
    color: black;
}
.image img {
    border: 2px black solid;
}
img{
    display: inline-block;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 70px;
    padding-bottom: 14px;
    padding-right: 100px;
    padding-left: 100px;
}
.content div{
    float: left;
}
.text{
    display: inline-block;
    width: 750px;
    height: 119px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    font-family: "Myriad Pro";
    padding-top: 124px;
    margin-left: 531px;
}
.menu3 ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0px; /*убираем верхнее и нижнее поле, равное 1em*/
    margin-left: 47px /*убираем левый отступ, равный 40px*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.menu3 li{
    float: left;
    align: center;
    padding-top: 36px;
    padding-right: 30px;
    line-height: 0px;
    font-size: 24px;
    color: black;
    font-family: "Myriad Pro";

}
.menu3 {
    width: 1170px;
    height: 69px;
    background-color: #63696e;
    align: center;
    margin-top: 33px;
    margin-left: 99px;
}
.menu3 li:hover{
    color: deepskyblue;
    text-decoration: underline;
}

.ma {
    float: right;
    font-size: 24px;
    line-height: 75px;
    color: #010101;
    font-family: "Myriad Pro";
    margin-top: -4px;
    margin-right: 20px;
}
.menu3 div{
    align: left;
}
img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}